@font-face {
    font-family: madetommy;
    src: url('https://comedicunion.github.io/files/madetommy.otf');
}
  body {
    font-family: madetommy;
    margin: 0;
    padding: 0;
    background-color:#111;
    text-decoration:none!important;
  }
  header{
    background-image:linear-gradient(0deg, #000000, #cc0000);
    color: #fff;
    padding-bottom:0px;
    text-align: center;
  }
  footer {
    background-color:#333;
    color: #fff;
    padding: 1rem 0 1rem 0;
    text-align: center;
    width:50%;
    margin:auto;
    margin-bottom:1rem;
  }
  nav {
    background-color: #333;
    padding: 0.75rem;
    margin-top:0px;
    text-align: center;
    overflow:hidden;
  }
  nav a {
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    font-size:1.15rem;
  }
  .active{
    background-color:#222;
    padding: 1rem;
    text-decoration: none;
    font-size:1.15rem;
    color:#fff;
  }
  nav a:hover {
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    background-image:linear-gradient(0deg, #ffffffaa, #00000000);
  }
  .active:hover{
  background-color:#222;
  color:white;
  background-image: none;
  }
  .container {
    padding: 2rem;
    background-image: linear-gradient(180deg, #000, #c900ae);
  }
  .post {
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    text-decoration: none;
  }
  h2{text-decoration:none;}
  .toppost {
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    gap: 1rem;
    align-items: flex-start;
  }
  .post img {
    width: 200px;
    height: auto;
    border-radius: 4px;
  }
  .post-content {
    flex: 1;
    text-decoration:none;
  }
  .main{
    width:50%;
    margin:auto;
    margin-top:1rem;
  }
  .logo {
    width:50%;
    padding:0.5rem;
    padding-top:1rem;
  }
  button{
    background-color: #c900ae;
    font-family:madetommy;
    color:white;
    border:none;
    padding:0.5rem;
  }
  button:hover{
    background-image:linear-gradient(0deg, #000000aa, #00000000);
  }
  p{
    text-decoration:none;
    color:black;
  }


  #mydiv {
position: absolute;
top:5rem;
left:1rem;
z-index: 9;
background-color: #ccc;
text-align: center;
border: 1px solid #d3d3d3;
padding-left:1rem;
padding-right:1rem;
width:20rem;
}

#mydivheader {
width:20rem;
cursor: move;
z-index: 10;
background-color: #cc0000;
color: #fff;

}
.foot_txt{color:white;}
@media (orientation: portrait) {
   #mydivheader, #mydiv {display:none;}
   .logo{width:100%;}
   .main, footer{width:100%;margin:0px;margin:auto;padding:0px;}
   .post {display:grid;}
   .post img{width:100%;max-width: 500px;margin:auto;}
    h5{position:absolute;top:0;left:0;}
    .foot_txt{padding:1rem;margin:auto;}
  }
